*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
zerotomastery
w3_band
The Complete 2022 Web Developer
task-management-ts
task-management
python
ptUDIot
prt_HtmlCssJs
product-management-test
node-backend-architecture
music-app-ts
mobile-map
mapnckh
map_box_prj
luyen_sql
learn-react
learnNodeZTM
learn_git_tqd
learn_backend28
js_basic
first_app
f8-shop
f8_fullstack_offline
f8_fullstack_homework
f8_fullstack_class
F8
dtdd
DSA_JS
be_ztm
article-app-graphql
android_firstApp
28tech












